@charset "UTF-8";

@font-face {
    font-family: 'cordel-encarnado-2';
    src: url(../fontes/cordel-encarnado-2.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xilosa';
    src: url( ../fontes/xilosa.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    background-image: url(../imagens/cabecalho\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0vh;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.361);
}

.texto {
    background-color: #f6e6d8;
    color: #F57F35;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

.texto2 {
    background-color: #f6e6d8;
    color: #EE7692;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

.texto3 {
    background-color: #f6e6d8;
    color: #7D5A9A;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

.imagem {
    background-color: gray;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: #ffffff;
    text-align: center;
    box-shadow: inset 1px 1px 15px rgba(101, 101, 101, 0.222);
}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'cordel-encarnado-2' ;
    font-size: 90px;
}

header p {
    padding-bottom: 50px;
    font-size: 24px;
    font-family: 'xilosa';
}

header a {
    text-decoration: none;
    color: white;
}

section {
    line-height: 2em;
    padding-left: 30px;
}

section#img1 {
    background-image: url(../imagens/imagem4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
}
section#img2 {
    background-image: url(../imagens/imagem5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
}

a:hover {
    text-decoration: underline;
}

pre {
    white-space: pre-line;
    font-family: 'xilosa';
    font-size: 30px;

}
pre#textshadow {
    text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.419);
}
.imagem > pre {
    background-color: rgba(255, 255, 255, 0.449);
    width: 400px;
    margin: auto;
    padding: 10px;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}
